## Highlights: {{ import_date.strftime('%Y-%m-%d %H:%M') }}
{% for day, annotations in annotated_days %}
### [[{{day}}]]
{% for annotation in annotations %}
{{ annotation.Text |trim }}
{% endfor %}
{% endfor %}
